@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html{
    font-size: 1rem;
}
:root {
  --gray-500: hsl(234, 12%, 34%); 
  --gray-400:hsl(212, 6%, 44%);/* Define color once */
  --white: hsl(0, 0%, 100%);
  --red: hsl(0, 78%, 62%);
--cyan: hsl(180, 62%, 55%);
--orange: hsl(34, 97%, 64%);
--blue: hsl(212, 86%, 64%);
}

.gray-500 {
  color: var(--gray-500);
}

.gray-400 {
  color: var(--gray-400);
}

.white {
  color: var(--white);
}

.red {
  background-color: var(--red);
}

.cyan {
  background-color: var(--cyan);
}

.orange {
  background-color: var(--orange);
}

.blue {
  background-color: var(--blue);
}
body{
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.015625rem;
    line-height: 1.4; 
    background-color: #fafafa;
    min-height: 100vh;
    /* position: relative; */
}
.text-preset-1 {
  font-weight: 600;        
  font-size: 1.5rem;
}
.text-preset-2 {
  font-weight: 200;        
  font-size: 1.5rem;  
}
.text-preset-3 {       
  font-size: 1.25rem;
  line-height: 1.35;
  font-weight: 600;
   letter-spacing: 0; 
}
.text-preset-4 {    
      font-weight: 400;
  font-size: 0.9375rem;
  letter-spacing: 0;      
}
.text-preset-5 {    
    font-weight: 400;   
  font-size: 0.8125rem;
  line-height: 1.6; 
  letter-spacing: 0;          
}

.card{
    width: 19.625rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 16.4375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: column;

}
.wrapper{
    height: 15.625rem;
    width: 100%;
    border-radius: 0.5rem; 
    background-color: var(--white);
}
.linebar{
    width: 100%;
    height: 0.25rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.content{
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    gap: 2rem;
}

.content1{
    box-shadow: 0 0.25rem 0.25rem hsla(0, 0%, 0%, 0.25);
    border: 0.0625rem solid black;  

}
.content4{
    border: 0.0625rem solid black;  
}
.heading{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    gap: 0.375rem;
}
.icon{
    width: 4rem;
    height: 4rem;

}

.title{
    width: 19.75rem;
    height: 9.1875rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    text-align: center;
    border: 0.0625rem solid black;  
}

@media (min-width:48rem){
    .title{
        top:6.375rem;
        width: 33.75rem;
        border: none;
    }

    .card{
            width: 41.25rem;
            position: absolute;
            top: 19.5rem;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-template-areas: 
            ". content2 content2 . "
            " content1 content1 content3 content3"
            ". content4 content4 .";
    }
    .content1 { grid-area: content1;
    border: none;
    box-shadow: none; }
  .content2 { grid-area: content2; }
  .content3 { grid-area: content3; }
  .content4 { grid-area: content4;
    border: none; }
    .text-preset-1 .text-preset-2{
        font-size: 2.25rem;
    }
}

@media (min-width: 71.875rem){
    .title{
        top:6.375rem;
        width: 33.75rem;
        border: none;
    }

    .card{
            width: 69.625rem;
            position: absolute;
            top: 20.875rem;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-areas: 
            ".  content2 ."
            "content1 content2 content4"
            "content1 content3 content4"
            ". content3 .";
            gap: 2rem;
    }
    .content1 { grid-area: content1;
    border: none;
    box-shadow: none; }
  .content2 { grid-area: content2; }
  .content3 { grid-area: content3; }
  .content4 { grid-area: content4;
    border: none; }
}

